<app-main-layout>
  <section class="main-page__hero container" style="position: relative">
    <img
      src="hero.png"
      alt="hero"
      class="main-page__hero-img"
    >
    <div class="main-page__hero-content">
      <img src="main-logo.png" alt="Логотип" class="main-page__hero-logo">
      <h1 class="main-page__hero-title">
        Повышение квалификации и профессиональная переподготовка в области ит
      </h1>
      <app-button>
        Оставить заявку
      </app-button>
    </div>
  </section>
</app-main-layout>
