@use 'styles/constants.scss' as consts;

.courses-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  &__title {
    color: consts.$dark-blue;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__text {
    width: 100%;

    &-edit {
      display: flex;
      gap: 30px;
    }

    &-control {
      width: 100%;
    }
  }
}
