@use 'styles/constants.scss' as consts;

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    height: 100%;
  }

  &__actions {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {
      cursor: pointer;
      color: consts.$white;
      background-color: consts.$primary-blue;
      font-size: 24px;
      padding: 15px;
      border-radius: 100px;
      box-shadow: 8px 8px 16px 3px rgba(34, 60, 80, 0.2);
      outline: 1px solid consts.$white;
    }
  }
}
